@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
.login {margin-top:10%}
.login-con1 .form{width:99%;margin-bottom:6%; display:inline-block;height:30px; line-height:30px; font-size:.9em; }
.login-con4 .form{margin-bottom:3%;}
.login-con1 .form label{width:27%; text-align:right; display:inline-block; float:left;color:#333;font-family:"微软雅黑";margin-right:3%}
.login-con1 .form input{ border:none; background:none; float:left;height:30px; line-height:30px; font-size:.9em;font-family:"微软雅黑";color:#a9a9a9 }
.login-con1 button{width:100%;height:30px; line-height:30px;text-align:center; border:none; font-family:"微软雅黑"}
.login-con1 a{ font-size:.9em;width:100%; display:inline-block; margin-top:2%; text-align:right}
.login-con2{padding:4% 2%;  font-size:.9em;margin-top:10%}
.login-con2 p{margin-bottom:3%}
.login-con3 {position:fixed; bottom:2%;}
.login-con3 button{ background:none;border:1px solid #136e97}
.login-con4 button{ margin:10% 0 5%}
.textarea2{ width:96%; display:block; height:70px;padding:2%; border-radius:5px; margin-top:2%; border:1px solid #dcdddd; background:#fff}
.big span{ font-size:1em}
.login-con1 .select-main{ float:right;width:70%; color:#a9a9a9}
.complaint-opinion .select-main.z-index {
	z-index: 10;
}
.complaint-opinion .select-main.disabled {
	cursor: default;
	filter: alpha(opacity=50);
	opacity: 0.5;
	zoom: 1;
}
.complaint-opinion .select-set {
	background-color: #FFFFFF;
	border-radius: 3px;
	color: #9c9c9c;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	z-index: 5;
	width:70%; float:left
}
div.select-arrow {
	border-top: 7px solid #cfcfcf;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	cursor: pointer;
	height: 0px;
	position: absolute;
	top: 13px;
	right: 10px;
	width: 0px;
	z-index: 7;
}

div.select-arrow.reverse {
	border-top: 7px solid transparent;
	border-bottom: 7px solid #cfcfcf;
	top:5px;
}

div.select-block {
	background-color: #FFFFFF;
    border-left: 1px solid #949494;
    border-right: 1px solid #949494;
    border-bottom: 1px solid #949494;
    border-radius: 3px;
    box-shadow: 0 0 2px #949494;
    left: -1px;
    line-height: 30px;
    position: absolute;
    top:31px;
    width:70%;
	color:#a9a9a9;
	z-index:11;
    margin-left:28%;
	padding-left:2%;
}
.complaint-opinion .textarea{height:180px; font-size:1em; background:none; border:1px solid #949494; border-radius:3px;}
.sub-but{ font-size:1em;padding:2% 0;}
@media only screen and (min-device-width: 375px){
.complaint-opinion{ font-size:1.05em}
.complaint-opinion .select-main {font-size: 1.05em;}
.textarea{height:220px;font-size:1.05em}
.sub-but{ font-size:1.05em}
.login-con1 .form{ font-size:1em;height:35px; line-height:35px}
.login-con1 .form input{ font-size:1em;height:35px; line-height:35px}
.login-con1 button{font-size:1em;height:35px; line-height:35px}
.login-con1 a{ font-size:1em}
.login-con2{font-size:1em}
div.select-block  { top:36px;}
div.select-arrow { top:15px;}
div.select-arrow.reverse{ top:6px;}
.big span{ font-size:1.1em}
}

@media only screen and (min-device-width: 414px){
.complaint-opinion{ font-size:1.1em}
.complaint-opinion .select-main {font-size: 1.1em;}
.textarea{height:240px;font-size:1.1em}
.sub-but{ font-size:1.1em}
.login-con1 .form{ font-size:1.1em;height:40px; line-height:40px}
.login-con1 .form input{ font-size:1.1em;height:40px; line-height:40px}
.login-con1 button{font-size:1.1em;height:40px; line-height:40px}
.login-con1 a{ font-size:1.1em}
.login-con2{ font-size:1.1em}
div.select-block  { top:41px;}
div.select-arrow { top:17px;}
div.select-arrow.reverse{ top:8px;}
.big span{ font-size:1.2em}
}



