*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* 移动设备布局: 480px 及更低。 */

.box{
	width: 100%;	
	height: 40px;
	background: pink;
	text-align: center;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 40px;
}
/* 平板电脑布局: 481px 至 768px。样式继承自: 移动设备布局。 */
@media only screen and (min-width: 481px) {
.box{
	width: 100%;	
	height: 45px;
	background: blue;
	text-align: center;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 45px;
}
}

/* 桌面电脑布局: 769px 至最高 1232px。样式继承自: 移动设备布局和平板电脑布局。 */
@media only screen and (min-width: 769px) {
.box{
	width: 100%;	
	height: 50px;
	background: red;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 50px;
}


}
